.formulario{
    background-color: black;
    height: 30rem;
    width: 100%;
    display: grid;
    place-items: center;
}
.form{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    height: 20rem;
    width: 20rem;
}
.borderF{
    border-top: 1px solid gray;
    border-radius: .5rem;
    height: 3rem;
    padding: 1rem;
}
.borderF:focus{
    outline: none;
}
.btn{
    background-color: white;
    color:black;
}