.info{
    position: relative;
    display: grid;
    justify-items: center;
    align-items: center;
    color:white;
    text-align: center;
    height:33rem;
    width: 100%;
}

.textoL{
    width: 20rem;
    display: grid;
    place-items: center;
    text-align: center;
}
.textoR{
    width: 20rem;
}
.textoL{
    font-size: 2rem;
    font-weight: bold;
}
.global{
    position: absolute;
    background-color: #000000b0;
    height: auto;
    width: 40rem;
    display: grid;
    place-items: center;
}