.info{
    position: relative;
    display: grid;
    justify-items: center;
    align-items: center;
    color:white;
    text-align: center;
    height:33rem;
    width: 100%;
}

.textoL{
    width: 20rem;
    display: grid;
    place-items: center;
    text-align: center;
}
.textoR{
    width: 20rem;
}
.textoL{
    font-size: 10rem;
    font-weight: bold;
}


.logoss{
    height:15rem;
    width:15rem;
    border-radius: 50%;
}