.nosotros{
    display: grid;
    grid-template-rows: 1fr 1fr;
    place-items: center;
    width: 40rem;
    height:30rem;
}
.h1{
    font-size : 3rem;

}
.globals{
    display: grid;
    place-items: center;
    height: 20rem;
    width:100%;
    background-color: rgb(30, 154, 30);
}
.imagen{
    height:18rem;
}
.infos{
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    background-color: white;
}
.home{
    display: grid;
    place-items: center;    
    width: 100%;
    gap: 1rem;
    color: #206dc7;
}
.homes{
    padding: 3rem;
    width: 100%;   
    display: grid;
    place-items: center;
    border-bottom: 1px solid #ccc;
}
.textH{
    font-size:2rem;
}