@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:ital@0;1&family=Permanent+Marker&display=swap');
.navbar{
    height:4rem;
    width:100%;
}
.content{
    position: fixed;
    z-index: 1;
    display: grid;
    height: 5rem;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.689);
}
.nav{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: inherit;
    align-items: center;
    justify-items: center;
}
.optionsL{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    gap: 2rem;
    color: white;
}
.optionsR{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    gap: 1rem;
    color: white;
}
.border{
    display: grid;
    align-items: center;
    justify-items: center;
    height: 2.5rem;
    width: 6rem;
    border-radius:.3rem;
    font-size: 1.1rem;
    cursor: pointer;
    border: none !important;
}
.border:hover{
    transition: .2s;
    background-color: rgb(86, 86, 249)

}

.imgs{
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    cursor: pointer;
}
body{
    margin: 0;
    font-family: Montserrat,sans-serif!important;
    overflow-x: hidden;
}
.barra{
    color: black;
}

option{
    background: none !important;
}
.css-18ikiee{
    display: none !important;
}
