.ser{
    padding-top: 2rem;
    display: grid;
    place-items: center;
    width: 100%;
}
.textS{
    font-size: 2rem;
}
.cardss{
    display: grid !important;
    grid-template-columns: 3rem 1fr !important;
    place-items: center !important;
    width: 10rem !important;
    height: 10rem !important;
    background-color: gray !important;
    border-radius: 50% !important;
    cursor: pointer !important;
    white-space: normal !important;
}
.cardss:hover{
    background-color: rgb(170, 170, 170) !important;
}
.serviD{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(5, 10rem);
    place-items: center;
    /* width: 20rem; */
    gap: 2rem;
}
.textSer{
    font-size: .7rem !important;
    text-align: center !important;
}
.servis{
    height: 30rem;
}