
.images {
    height: 37rem;
    width: 100%;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
}
.slick-prev:before, .slick-next:before{
    font-size: 0 !important;
}
.slick-prev {
    left: 0 !important;
}
.slick-next {
    right: 0 !important;
}