
.images {
    height: 37rem;
    width: 100%;
    object-fit: cover;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slidersa{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    
}

.slick-prev:before, .slick-next:before{
    font-size: 1.5rem !important;
    color: black !important;
}
.slick-prev {
    left: -2rem !important;
}
.slick-next {
    right: -2rem !important;
}

.slidersa button{
    display: none !important;
     
 }