.salImg{
    height: 25rem;
    width: 30rem;
    object-fit: cover;
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.4));
    border-radius: .3rem;
}
.turismo{
    display: grid;
    width: 100%;
    padding: 2rem;
    place-items: center;
    gap: 2rem;
    border-bottom: 1px solid #ccc; 
    color: #206dc7; 
}
.saltoA{
    display: grid;
    width: 100%;
    justify-items: center;
}
.imgSal{
    display: grid;
    gap: 1rem
}
.textTu{
    display: grid;
    grid-template-columns: auto;
}