.salImg{
    height: 20rem;
    width: 20rem;
    object-fit: cover;
}
.turismo{
    display: grid;
    width: 100%;
    padding: 2rem;
    place-items: center;
    gap: 2rem;
    border-bottom: 1px solid #ccc;  
}
.saltoA{
    display: grid;
    width: 100%;
    justify-items: center;
}
.imgSal{
    display: grid;
    gap: 5rem
}