.css-79z5gx{
    padding: 0 !important;
}
.textS{
    font-size: 2rem !important;
}
.css-1u2cvaz{
    display: grid !important;
    grid-template-columns: 1fr;
    place-items: center !important;
    width: 100% !important;
}
.css-pv22qu{
    max-width: none !important;
    width: 55rem !important;

}
.ant-picker-dropdown{
    z-index: 10000 !important;
}
.css-t3blsc{
    color: #206dc7;
}
html{
    scroll-behavior: smooth;
}
.sliderss{
    width: 30rem !important;
    height: 25rem;
    object-fit: contain !important;
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.4));
    border-radius: .2rem !important;
}
.imagess{
    width: 100% !important;
    height: 25rem !important;
    object-fit: cover !important;
}
@media (max-width: 770px) {
    .css-1u2cvaz{
        display: flex !important;
        grid-template-columns: 1fr;
        place-items: center !important;
        width: 100% !important;
    }
    .globalMod{
        grid-template-columns: 1fr;
    }
    .cabaI{
        display: none;
    }
    .css-pv22qu{
        width: 100% !important;
        max-width: 27rem !important;
    }
}
@media (max-width: 770px){
    .ant-picker-panel:nth-child(2){
        display: none !important;
        color: red;
    }
    .optionsL, .optionsR{
     display: none !important;
    }
    .css-18ikiee{
     display: grid !important;
     background-color: white !important;
    }
    .nav{
     grid-template-columns: 5rem 1fr 5rem;
    }
    body {
     overflow-x: hidden;
    }
 
 }
 @media (max-width: 770px){

    .slidersa .slick-next{
        right: 1rem !important;
        z-index: 1;
    }
    .slidersa .slick-prev{
        left: 1rem !important;
        z-index: 1;
    }
    .slidersa button{
        display: grid !important;
    }
    .css-pv22qu{
        margin-top: 15rem !important;
    }
    .cards{
        grid-template-rows: 1fr 1fr;
        grid-template-columns: none;
    }
    .disp{
        display: none !important;
    }
    /* .ant-picker-dropdown{
        left: 9.5rem !important;
        top: 3700px !important;
    
    } */
    .ant-picker-panels {
        display: grid !important;
        flex-wrap: nowrap !important;
        direction: ltr !important;
    }
    .imgText{
        grid-template-rows: 25rem 1fr;
        grid-template-columns: none;
    }
    .sliderCafe{
        height: 19rem !important;
        width: 13rem !important;
    }
    .imagesCafe{
        height:20rem;
    }
    .imgCafe{
        display:none !important;
    }
    .sliderCafe{
        display: grid !important;
    }
    .sliderss{
        width: 15rem !important;
        height: 21rem;
    }
    .imagess{
        width: 100% !important;
        height: 21rem !important;
    }
    .salImg{
        width: 15rem !important;
        height: 21rem;
    }
    .textCafe{
        text-align: left;
    }
    .informacions{
        display: grid !important;
        grid-template-rows: 1fr 1fr 1fr 1fr !important;
        grid-template-columns: none !important;
        place-items: center !important;
    }
    .footer{
        grid-template-columns: 1fr;
    }
    .informacions span {
        font-size: .9rem;
    }
    html{
        overflow-x: hidden !important;
    }
    /* .ant-picker-dropdown {
        top: 5460px !important;
    } */
}


@media (min-width: 770px){
    .cabaR{
        display: none;
    }

   
}
@media (max-width: 390px){
    .alls{
        grid-template-rows: repeat(8, 1rem);
        place-items: center;
        width: min-content;
        gap: 1.5em;
        padding: 1rem 0.3rem;
        background-color: gray;
        border-radius: 0.2rem
    }

}
@media (max-width: 390px){
    .css-pv22qu {
        width: 100% !important;
        max-width: 20rem !important;
        }
        .borderI{
            height: 1.6rem;
            gap: 1.2rem;
        }
}
body{
    font-weight: bold;
    background: rgb(236, 236, 236) !important;
}
.blue{
    color: #003087;
}
/* :where(.css-dev-only-do-not-override-12jzuas).ant-picker-dropdown .ant-picker-time-panel-column:not(:first-child){
    display: none;
} */
/* :where(.css-dev-only-do-not-override-12jzuas).ant-picker-dropdown .ant-picker-time-panel{
    width: 7rem;
}
:where(.css-dev-only-do-not-override-12jzuas).ant-picker{
    width: 15rem;
}
:where(.css-dev-only-do-not-override-12jzuas).ant-picker-range {
    height: 2rem;
} */
.cantD{
    text-align: left;
}
.asd{
    background: red;
}
.ant-picker-content:nth-child(2){
    display: none !important;
}
