.css-79z5gx{
    padding: 0 !important;
}
.css-1u2cvaz{
    display: grid !important;
    grid-template-columns: 1fr;
    place-items: center !important;
    width: 100% !important;
}
.css-pv22qu{
    max-width: none !important;
}
.ant-picker-dropdown{
    z-index: 10000 !important;
}
html{
    scroll-behavior: smooth;
}
